.page-error404 {
    background: $black-alt;
    
    .fourohfour {
        position: relative;
        z-index: 2;

        &__wrapper {
            display: block;
            min-height: 100vh;
            opacity: 0;
            @include interpolate(padding-top, $min_width, $max_width, 100px, 180px);
            @include interpolate(padding-bottom, $min_width, $max_width, 60px, 150px);
            @include interpolate(padding-left, $min_width, $max_width, 20px, 120px);
            @include interpolate(padding-right, $min_width, $max_width, 20px, 120px);
            width: 100%;
    
            .title {
                h1 {
                    color: $white;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 40px, 120px);
                    font-weight: 500;
                    line-height: 1.4;
                    @include interpolate(padding-left, $min_width, $max_width, 10px, 30px);
                    text-align: right;
                }
            }
    
            .row {
                width: 100%;
            }
    
        }
    
        &__content-wrapper {
            margin-top: 40px;
    
            @include mq($from:tablet) {
                display: flex;
                justify-content: space-between;
                margin-top: 90px;
            }
        }
    
        &__details,
        &__content {
            @include mq($from:tablet) {
                max-width: 40%;
            }
        }
    
        &__content {
            .description {
                p {
                    color: $white;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 20px, 32px);
                    font-weight: 400;
                    line-height: 1.2;
                    margin-bottom: 30px;
    
                }
            }
    
            .menu {
                margin: 40px 0 0 -10px;
    
                @include mq($from:tablet) {
                    margin: 40px 0 0 -10px;
                }
    
                li {
                    color: $white;
                    display: inline-block;
                    font-family: $heading-text;
                    font-size: 16px;
                    font-weight: 400;
    
                    &+ li {
                        margin-left: 25px;
                    }
    
                    a {
                        padding: 10px;
                        position: relative;
                        transition: 0.3s ease-in-out;
    
                        span {
                            position: relative;
                            z-index: 10;
                        }
        
                        &:before {
                            background: $gold;
                            content: "";
                            display: block;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transition: 0.3s ease-in-out;
                            transition-delay: 0.3s;
                            transform: translateX(-50%);
                            width: calc( 100% - 20px );
                        }
        
                        &:after {
                            background: $gold;
                            content: "";
                            display: block;
                            height: 0px;
                            position: absolute;
                            transition: height 0.3s ease-in-out;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                        }
        
                        &:hover {
                            &:after {
                                height: 100%;
                            }
        
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    
        &__details {
            .contact__detail {
                span {
                    color: $white;
                    font-family: $body-text;
                    font-size: 9px;
                    font-weight: 300;
                    letter-spacing: 3.5px;
                    text-transform: uppercase;
                }
                p {
                    color: $white;
                    font-family: $heading-text;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 32px;
                }
    
                &+ .contact__detail {
                    margin-top: 25px;
                }
            }
    
            .social__accounts {
                margin-top: 25px;
                .social__account {
                    &+ .social__account {
                        margin-left: 10px;
                    }
                }

                .social__account { 
                    a {
                        svg path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}