.contact {
    position: relative;
    z-index: 2;

    &__wrapper {
        display: block;
        min-height: 100vh;
        @include interpolate(padding-top, $min_width, $max_width, 100px, 180px);
        @include interpolate(padding-bottom, $min_width, $max_width, 60px, 150px);
        @include interpolate(padding-left, $min_width, $max_width, 20px, 120px);
        @include interpolate(padding-right, $min_width, $max_width, 20px, 120px);
        width: 100%;

        .title {
            h1 {
                color: $black;
                font-family: $heading-text;
                @include interpolate(font-size, $min_width, $max_width, 40px, 190px);
                font-weight: 500;
                line-height: 1;
                @include interpolate(padding-left, $min_width, $max_width, 10px, 30px);
                text-align: right;
            }
        }

        .row {
            width: 100%;
        }

    }

    &__content-wrapper {
        margin-top: 40px;

        @include mq($from:desktop) {
            display: flex;
            justify-content: space-between;
            margin-top: 90px;
        }
    }

    &__details,
    &__content {
        @include mq($from:desktop) {
            max-width: 40%;
        }
    }


    &__content {
        .description {
            p {
                color: $black;
                font-size: 15px;
                line-height: 2;

                &:first-child {
                    color: $black;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 24px, 44px);
                    font-weight: 400;
                    line-height: 1.2;
                    margin-bottom: 30px;
                }
            }
        }

        .menu {
            margin: 40px 0 0 -10px;

            @include mq( $from: desktop ) {
                margin: 40px 0 0 -10px;
            }

            li {
                color: $black;
                display: inline-block;
                font-family: $heading-text;
                font-size: 16px;
                font-weight: 400;

                @include mq( $until: desktop ) {
                    width: 100%;
                }

                &+ li {
                    margin-left: 25px;

                    @include mq( $until: desktop ) {
                        margin: 10px 0 0;
                    }
                }

                a {
                    padding: 10px;
                    position: relative;
                    transition: 0.3s ease-in-out;

                    span {
                        position: relative;
                        z-index: 10;
                    }
    
                    &:before {
                        background: $gold;
                        content: "";
                        display: block;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transition: 0.3s ease-in-out;
                        transition-delay: 0.3s;
                        transform: translateX(-50%);
                        width: calc( 100% - 20px );
                    }
    
                    &:after {
                        background: $gold;
                        content: "";
                        display: block;
                        height: 0px;
                        position: absolute;
                        transition: height 0.3s ease-in-out;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }
    
                    &:hover {
                        &:after {
                            height: 100%;
                        }
    
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &__details {

        @include mq( $until: desktop ) {
            margin: 40px 0 0;
        }

        .contact__detail {
            span {
                color: $black;
                font-family: $body-text;
                font-size: 9px;
                font-weight: 300;
                letter-spacing: 3.5px;
                text-transform: uppercase;
            }
            p {
                color: $black;
                font-family: $heading-text;
                font-size: 26px;
                font-weight: 400;
                line-height: 32px;
                word-break: break-all;
            }

            &+ .contact__detail {
                margin-top: 25px;
            }
        }

        .social__accounts {
            margin-top: 25px;
            .social__account {
                &+ .social__account {
                    margin-left: 10px;
                }
            }
        }
    }

}

.social {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30rem;

    @include mq($from:desktop) {
        display: block;
    }

    li {
        font-size: 13px;
        line-height: 2em;
        margin-bottom: 1em;
        font-weight: bold;
        letter-spacing: 0.23em;
        text-transform: uppercase;
    }

    a {
        position: relative;
        padding: 0 6px;

        span {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $white;
            z-index: 1;
            position: absolute;
            top: 100%;
            left: 0%;
            transform-origin: top left;
            transform: scaleY(0);
            transition: 0.1s ease-in-out;
        }

        &:hover {
            color: $black;
            transition: 0.1s ease-in-out;

            &::after {
                transform: scaleY(-1);
                transition: 0.1s ease-in-out;
            }
        }
    }
}
