body {
    transition: background-color 0.3s ease-in-out;
}

body.page-home {
    background: $black-alt;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.featured-stories {
    .swiper-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        height: 100vh;
        width: 100%;
        width: 100vw;

        .swiper-slide {
            background: $black-alt;
            overflow: hidden;
            transition-delay: 1s;

            .background-image {
                background: $black-alt center top no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(1.05);
                transition: transform 2s ease-in-out;
                transition-delay: 3s;
    
                &:after {
                    content: "";
                    background: #211F1F;
                    opacity: 0.1;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }

            &.swiper-slide-active .background-image,
            &.swiper-slide-duplicate-active .background-image {
                transform: scale(1);
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15vh 20vw;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            * {
                position: relative;
            }

            .subtitle {
                margin-bottom: 30px;
                overflow: hidden;

                h3 {
                    opacity: 0;
                }
            }

            .title {
                text-align: center;

                &__line {
                    display: block;
                    overflow: hidden;

                    span {
                        display: block;
                    }
                }
            }

            .view-story-container {
                display: block;
                text-align: center;
            }

            a {
                &:hover {
                    .view-story hr {
                        &.animate {
                            width: calc(100% - 10px) !important;
                        }
                    }
                }
            }

            .view-story {
                display: inline-block;
                overflow: hidden;
                padding: 15px;
                position: relative;

                span {
                    display: block;
                    overflow: hidden;
                }

                hr {
                    background: $gold;
                    border: none;
                    display: block;
                    height: 2px;
                    margin: 0;
                    position: absolute;
                    bottom: 10px;
                    left: 22.5px;
                    width: 0;

                    &.animate {
                        transition: width 0.3s ease-in-out;
                    }
                }
            }

        }
    }

    &__footer {
        padding: 20px 25px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;

        .count,
        .tagline {
            display: none;
        }

        .scroll {
            display: block;
            margin: 0 auto;
            position: relative;
            text-align: center;

            a {
                cursor: pointer;
                padding: 10px;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $gold;
                }
            }

            &:before {
                content: "";
                background: $gold;
                border-radius: 100%;
                display: block;
                height: 3px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -15px;
                width: 3px;
            }

            &:after {
                content: "";
                background: $gold;
                display: block;
                height: 20px;
                position: absolute;
                bottom: -25px;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
            }
        }

        @include mq(tablet) {
            padding: 25px 40px;
        }
        @include mq(desktop) {
            padding: 25px 50px;

            .count,
            .tagline {
                display: block;
                position: absolute;
            }

            .count {
                top: 35px;
                left: 50px;

                span {
                    display: inline-block;
                    font-size: 32px;
                    position: relative;
                    top: 2px;
                    width: 20px;
                }
            }

            .tagline {
                top: 35px;
                right: 50px;
            }
        }
    }
}

.homepage {
    .story__header {
        z-index: -1;
    }
}