.page-about {
    background: $black-alt;
}

.about {
    position: relative;
    z-index: 2;

    &__wrapper {
        opacity: 0;
        @include interpolate(padding-bottom, $min_width, $max_width, 100px, 200px);

        &--intro {
            @include interpolate(padding-top, $min_width, $max_width, 100px, 240px);
            @include interpolate(padding-bottom, $min_width, $max_width, 60px, 200px);
            @include interpolate(padding-left, $min_width, $max_width, 20px, 140px);
            @include interpolate(padding-right, $min_width, $max_width, 20px, 140px);
            width: 100%;

            @include mq($from:tablet) {
                display: flex;
                justify-content: space-between;
            }

            .title {
                @include cf;
                margin-bottom: 60px;

                h1 {
                    @include cf;
                    color: $white;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 34px, 56px);
                    font-weight: 500;
                    line-height: 1.2;
                    text-align: right;

                    @include mq($from:tablet) {
                        padding-left: 5%;
                    }
                }
    
                @include mq($from:tablet) {
                    margin-bottom: 0;
                    margin-top: 20px;
                    width: 55%;
                }

                .subtitle {
                    @include cf;
                    color: $gold;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 14px, 18px);
                    font-weight: 400;
                    line-height: 1.5px;
                    @include interpolate(margin-top, $min_width, $max_width, 30px, 60px);
                    text-align: right;
                }
            }
    
            .navigation {
                @include mq($from:tablet) {
                    width: 30%;
                }

                h4 {
                    @extend .small-gold-text;
                    letter-spacing: 3.5px;
                    margin-bottom: 30px;
                }

                li {
                    color: $white;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 16px, 21px);
                    font-weight: 400;
                    line-height: 1.5;

                    &+ li {
                        margin-top: 5px;
                    }

                    a {
                        transition: 0.3s ease-in-out;

                        &:hover, 
                        &:active {
                            color: $gold;
                        }
                    }
                }
            }
        }

        &--content {
            padding: 0 40px;
            position: relative;

            @include mq($from:tablet) {
                @include interpolate(padding-right, $min_width, $max_width, 60px, 280px);
                padding-left: 34%;
            }

            .featured-image {
                margin: 0 -40px 40px;

                @include mq($from:tablet) {
                    margin: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 34%;
                }

                img {
                    width: 100%;

                    &[data-aos=fade-up] {
                        transform: translate3d( 0, 40px, 0 );
                    }

                    &.aos-animate {
                        transform: translate3d( 0, 0, 0) ;
                    }
                }
            }

            .content-block {
                color: $white;
                @include mq($from:tablet) {
                    @include interpolate(padding-left, $min_width, $max_width, 40px, 120px);
                }

                &[data-aos=fade-up] {
                    transform: translate3d( 0, 40px, 0);
                }

                h2 {
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 30px, 50px);
                    font-weight: 400;
                    line-height: 1.1;
                    @include interpolate(margin-bottom, $min_width, $max_width, 10px, 30px);
                }

                p {
                    font-size: 16px;
                    line-height: 2;

                    &+ p {
                        margin-top: 32px;
                    }
                }

                h4 {
                    @extend .small-gold-text;
                    letter-spacing: 3.5px;
                    margin-bottom: 20px;
                }

                li {
                    color: $white;
                    font-family: $heading-text;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.75;

                    &+ li {
                        margin-top: 5px;
                    }
                }

                &+ .content-block {
                    @include interpolate(margin-top, $min_width, $max_width, 40px, 80px);
                }

                &__text {
                }

                &__services {
                    margin-top: 30px;

                    &[data-aos=fade-up] {
                        transform: translate3d( 0, 40px, 0 );
                    }
                }

                &__prices {
                    margin-top: 40px;

                    @include mq($from:tablet) {
                        margin-top: 60px;
                    }

                    .price-block {
                        margin-bottom: 40px;

                        @include mq($from:tablet) {
                           display: flex;
                           justify-content: space-between; 
                           margin-bottom: 50px;
                        }

                        &[data-aos=fade-up] {
                            transform: translate3d( 0, 40px, 0 );
                        }

                        &.aos-animate {
                            transform: translate3d( 0, 0, 0 );
                        }

                        &__meta {
                            margin-bottom: 10px;
                            @include mq($from:tablet) {
                                margin: 0;
                                padding-right: 20%;
                                width: 70%;
                            }

                            p {
                                color: $grey-text;
                                font-family: $body-text;
                                font-size: 13px;
                                font-weight: 300;
                                line-height: 18px;

                                &.title {
                                    color: $white;
                                    font-family: $heading-text;
                                    @include interpolate(font-size, $min_width, $max_width, 20px, 28px);
                                    font-weight: 400;
                                    line-height: 1.2;
                                    margin-bottom: 10px;

                                    @include mq($from:tablet) {
                                        margin-bottom: 20px;
                                    }
                                }

                                &+ p {
                                    margin-top: 0;
                                }
                            }
                        }
                        &__price {

                            @include mq($from:tablet) {
                                width: 30%;
                            }
                            
                            p {
                                font-family: $heading-text;
                                @include interpolate(font-size, $min_width, $max_width, 30px, 50px);
                                font-weight: 400;
                                line-height: 1.3;
                            }
                        }
                    }

                    &--extra {
                        margin-top: 40px;

                        @include mq($from:tablet) {
                            margin-top: 60px;
                        }

                        &[data-aos=fade-up] {
                            transform: translate3d( 0, 40px, 0);
                        }

                        h4 {
                            margin-bottom: 20px;
                            @include mq($from:tablet) {
                                margin-bottom: 40px;
                            }
                        }

                        .price-block {
                            &__meta {
                                p {
                                    &.title {
                                        @include interpolate(font-size, $min_width, $max_width, 16px, 22px);
                                        line-height: 1.5;
                                    }
                                }
                            }

                            &__price {
                                p {
                                    @include interpolate(font-size, $min_width, $max_width, 20px, 30px);
                                    line-height: 1.3;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--contact {
            display: flex;
            @include interpolate(padding-top, $min_width, $max_width, 20px, 60px);
            @include interpolate(padding-left, $min_width, $max_width, 20px, 140px);
            @include interpolate(padding-right, $min_width, $max_width, 20px, 140px);

            a {
                color: $white;
                display: block;
                font-family: $heading-text;
                @include interpolate(font-size, $min_width, $max_width, 30px, 50px);
                font-weight: 400;
                line-height: 1.2;
                margin: 0 auto;
                padding: 20px;
                position: relative;

                span {
                    position: relative;
                    z-index: 10;
                }

                &:before {
                    background: $gold;
                    content: "";
                    display: block;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transition: 0.3s ease-in-out;
                    transform: translateX(-50%);
                    width: calc( 100% - 40px );
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }

    }

}