.portfolio {
    height: 100%;
    height: 100vh;
    padding: 120px 0;

    .swiper-container {
        height: 100%;
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        max-height: 100%;
        opacity: 0.4;
        transition: opacity 0.4s ease-in-out;
        width: 90%;

        @include mq(desktop) {
            width: 70%;
        }

        &.swiper-slide-active {
            opacity: 1;
        }

        .image {
            opacity: 0;
        }

        .image-wrapper {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-height: calc( 100% - 240px );
                max-height: calc( 100vh - 240px );
                max-width: 100%;
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
                width: auto;
            }
        }
        .swiper-lazy {
            display: none;
            &.swiper-lazy-loaded {
                display: block;
            }
        }
        &.swiper-slide-next,
        &.swiper-slide-prev { 
            img {
                opacity: 0.75;
            }
        }
    }
}