.story {
    
    &__wrapper {
        &.sibling {
            opacity: 0 !important;

            .story__content--introduction {
                opacity: 0 !important;
            }
        }
    }

    &__header {
        display: flex;
        height: 100vh;
        position: relative;
        width: 100%;

        &--shallow {
            height: 75vh;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .content {
                padding: 15vh 20vw;
            }

            .background-image {
                .overlay {
                    background: $black-alt;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transition-property: opacity;
                    &[data-aos="story-fade-out"] {
                        opacity: 0;

                        &.aos-animate {
                            opacity: 0.6;
                        }
                    }
                }
            }

            &+ .story__content {
                margin-top: 75vh;
            }
        }

        .background-image {
            background: #222 center top no-repeat;
            background-size: cover;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &:after {
                content: "";
                background: #211F1F;
                opacity: 0.1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15vh 20vw;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            * {
                position: relative;
            }

            .subtitle {
                margin-bottom: 30px;
                overflow: hidden;
            }

            .title {
                text-align: center;

                &__line {
                    display: block;
                    overflow: hidden;

                    span {
                        display: block;
                    }
                }
            }

            .view-story-container {
                display: block;
            }

            .view-story {
                overflow: hidden;
                padding: 15px;
                position: relative;

                span {
                    display: block;
                    overflow: hidden;
                }

                hr {
                    background: $gold;
                    border: none;
                    display: block;
                    height: 2px;
                    margin: 0;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 25px;
                }
            }
        }

        .featured-stories__footer {
            position: fixed;
            z-index: 10;
        }

        &--footer {
            padding: 30px 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;

            .scroll-story {
                overflow: hidden;
                position: relative;

                span {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    transform: translateY(20px);
                }

                svg {
                    margin-left: 20px;
                }
            }
        }
    }

    &__content {
        background: $white;
        position: relative;
        z-index: 20;

        &--introduction {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            opacity: 0;
            @include interpolate(padding-top, $min_width, $max_width, 40px, 100px);
            @include interpolate(padding-bottom, $min_width, $max_width, 20px, 50px);
            @include interpolate(padding-left, $min_width, $max_width, 20px, 250px);
            @include interpolate(padding-right, $min_width, $max_width, 20px, 250px);

            @include mq(tablet) {
                flex-direction: row;
            }
        }

        &--meta {
            order: 2;

            @include mq(tablet) {
                margin: 0;
                order: 1;
                width: 20%;
            }
            @include mq(desktop) {
                width: 30%;
            }

            p {
                &.services {
                    color: $black;
                    font-family: $heading-text;
                    @include interpolate(font-size, $min_width, $max_width, 18px, 24px);
                    font-weight: 400;
                    line-height: 1.3;
                    margin-bottom: 25px;
                    padding-bottom: 25px;
                    position: relative;

                    &:after {
                        background: $gold;
                        content: "";
                        display: block;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 30px;
                    }
                }

                &.date,
                &.location {
                    color: $black;
                    font-family: $body-text;
                    font-size: 13px;
                    line-height: 1.5;
                }
            }
        }

        &--about {
            margin-bottom: 40px;
            order: 1;

            @include mq(tablet) {
                order: 2;
                padding-left: 20%;
                width: 80%;
            }

            @include mq(desktop) {
                width: 70%;
            }

            p {
                color: $black;
                font-family: $heading-text;
                @include interpolate(font-size, $min_width, $max_width, 20px, 30px);
                font-weight: 400;
                line-height: 1.25;
            }
            
        }
    }

    &__photos {

        .photos-block {
            margin: 0 auto;
            max-width: 1440px;

            &--last {
                max-width: unset;
                position: relative; 
                
                > div {
                    padding-bottom: 0 !important;
                    position: relative;
                }

                &:after {
                    background: $black;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                }
            }

            &__full {
                &--container {
                    padding: 40px 0;

                    @include mq(tablet) {
                        display: flex;
                        padding: 40px 0;
                    }

                    @include mq(desktop) {
                        padding: 100px 0;
                    }

                    &.gutter-spacing-small {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    &.gutter-spacing-medium {
                        padding-left: 10px;
                        padding-right: 10px;

                        @include mq(tablet) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        @include mq(desktop) {
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                    }

                    &.gutter-spacing-large {
                        padding-left: 10px;
                        padding-right: 10px;

                        @include mq(tablet) {
                            padding-left: 40px;
                            padding-right: 40px;
                        }

                        @include mq(desktop) {
                            padding-left: 85px;
                            padding-right: 85px;
                        }
                    }

                }

                .image {
                    overflow: hidden;
                    width: 100%;

                    .image-container {
                        overflow: hidden;
                        position: relative;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: scale(1.05);
                            transform-origin: 50% 0;
                        }
                    }
                    
                }
            }
            
            &__juxta {
                &--container {
                    padding: 40px 0;

                    @include mq(tablet) {
                        display: flex;
                        padding: 40px 0;
                    }

                    @include mq(desktop) {
                        padding: 100px 0;
                    }

                    &.gutter-spacing-small {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    &.gutter-spacing-medium {
                        padding-left: 10px;
                        padding-right: 10px;

                        @include mq(tablet) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        @include mq(desktop) {
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                    }

                    &.gutter-spacing-large {
                        padding-left: 10px;
                        padding-right: 10px;

                        @include mq(tablet) {
                            padding-left: 40px;
                            padding-right: 40px;
                        }

                        @include mq(desktop) {
                            padding-left: 85px;
                            padding-right: 85px;
                        }
                    }

                    &.spacing-small {
                        .image-left {
                            padding-bottom: 10px;
                        }
                        .image-right {
                            padding-top: 10px;
                        }

                        @include mq(tablet) {
                            .image-left {
                                padding-bottom: 0;
                                padding-right: 5px;
                            }
                            .image-right {
                                padding-top: 0;
                                padding-left: 5px;
                            }
                        }
                    }

                    &.spacing-medium {
                        .image-left {
                            padding-bottom: 20px;
                        }
                        .image-right {
                            padding-top: 20px;
                        }

                        @include mq(tablet) {
                            .image-left {
                                padding-bottom: 0;
                                padding-right: 10px;
                            }
                            .image-right {
                                padding-top: 0;
                                padding-left: 10px;
                            }
                        }
                    }

                    &.spacing-large {
                        .image-left {
                            padding-bottom: 40px;
                        }
                        .image-right {
                            padding-top: 40px;
                        }

                        @include mq(tablet) {
                            .image-left {
                                padding-bottom: 0;
                                padding-right: 60px;
                            }
                            .image-right {
                                padding-top: 0;
                                padding-left: 60px;
                            }
                        }
                    }

                    &.alignment {
                        @include mq(tablet) {
                            &-middle {
                                align-items: center;
                            }
                            &-offset-bottom {
                                .image-left {
                                    padding-top: 40px;
                                }
                            }
                            &-offset-top {
                                .image-right {
                                    padding-top: 40px;
                                }
                            }
                        }
                    }

                    @include mq(tablet) {
                        &.balance-30-70 {
                            .image-left {
                                width: 30%;
                            }
                            .image-right {
                                width: 70%;
                            }
                        }
    
                        &.balance-40-60 {
                            .image-left {
                                width: 40%;
                            }
                            .image-right {
                                width: 60%;
                            }
                        }
    
                        &.balance-50-50 {
                            .image-left,
                            .image-right {
                                width: 50%;
                            }
                        }
    
                        &.balance-60-40 {
                            .image-left {
                                width: 60%;
                            }
                            .image-right {
                                width: 40%;
                            }
                        }
    
                        &.balance-70-30 {
                            .image-left {
                                width: 70%;
                            }
                            .image-right {
                                width: 30%;
                            }
                        }
                    }
                    
                }

                .image-left,
                .image-right {
                    overflow: hidden;
                    width: 100%;

                    .image-container {
                        overflow: hidden;
                        position: relative;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: scale(1.05);
                            transform-origin: 50% 0;
                        }
                    }
                    
                }
            }

            &__slider {
                &--container {
                    padding: 20px 40px 40px 10px;
                    position: relative;

                    &:before {
                        background: $white;
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 10px;
                        z-index: 1000;
                    }

                    @include mq(tablet) {
                        display: flex;
                        padding: 40px 80px 40px 20px;

                        &:before {
                            width: 20px;
                        }
                    }

                    @include mq(desktop) {
                        padding: 100px 200px 100px 50px;

                        &:before {
                            width: 50px;
                        }
                    }

                    .swiper-wrapper {
                        align-items: center;
                    }
                }

                .swiper-pagination {
                    bottom: 0;

                    &-bullet {
                        background: $gold;
                        height: 10px;
                        margin: 0 5px;
                        width: 10px;
                    }
                }
            }
        }
    }

    &__footer {
        background: $black;
        @include interpolate(padding-top, $min_width, $max_width, 40px, 100px);
        @include interpolate(padding-bottom, $min_width, $max_width, 20px, 30px);
        @include interpolate(padding-left, $min_width, $max_width, 20px, 40px);
        @include interpolate(padding-right, $min_width, $max_width, 20px, 40px);

        &--content {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .story-header {
                @include interpolate(font-size, $min_width, $max_width, 40px, 80px);
            }

            .title {
                text-align: center;
                @include interpolate(font-size, $min_width, $max_width, 20px, 60px);

                &__line {
                    display: block;
                    overflow: hidden;

                    span {
                        display: block;
                    }
                }
            }

            .share {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                letter-spacing: 4px;
                @include interpolate(margin-top, $min_width, $max_width, 20px, 60px);
                @include interpolate(margin-bottom, $min_width, $max_width, 80px, 150px);
            }

            .social {
                &__accounts {
                    margin-top: 40px;
                }

                &__account {
                    margin: 0 20px;

                    a {
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }

            .next-story {
                margin: 0 auto;

                a {
                    color: $white;
                    display: block;
                    font-family: $heading-text;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.2;
                    padding: 20px;
                    position: relative;
    
                    span {
                        position: relative;
                        z-index: 10;
                    }
    
                    &:before {
                        background: $gold;
                        content: "";
                        display: block;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transition: 0.3s ease-in-out;
                        transition-delay: 0.3s;
                        transform: translateX(-50%);
                        width: calc( 100% - 20px );
                    }
    
                    &:after {
                        background: $gold;
                        content: "";
                        display: block;
                        height: 0px;
                        position: absolute;
                        transition: height 0.3s ease-in-out;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }
    
                    &:hover {
                        &:after {
                            height: 100%;
                        }
    
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}