<template>
    <div class="header__wrapper">
        <div class="header__logo">
             <router-link :to="'/'">
                <p>SIDE BY SIDE</p>
            </router-link>
        </div>
        <div class="header__menu--desktop">
            <router-link :to="'/portfolio'" class="standard-white-text header__menu--link">
                Portfolio
            </router-link>
            <router-link :to="'/our-approach'" class="standard-white-text header__menu--link">
                Our Approach
            </router-link>
            <router-link :to="'/contact'" class="standard-white-text header__menu--link">
                Say Hello
            </router-link>
        </div>

        <div class="header__menu--mobile">
            <a class="menu-toggle" @click="navigation()">
                <span></span>
            </a>
            <div class="header__mobile-menu">
                <div class="inner">
                    <router-link :to="'/'" class="standard-white-text header__menu--link header__menu--home">
                        Home
                    </router-link>
                    <router-link :to="'/portfolio'" class="standard-white-text header__menu--link">
                        Portfolio
                    </router-link>
                    <router-link :to="'/our-approach'" class="standard-white-text header__menu--link">
                        Our Approach
                    </router-link>
                    <router-link :to="'/contact'" class="standard-white-text header__menu--link">
                        Say Hello
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['home_page'],
        components: { },
        methods: {
            navigation() {
                let vm = this;
                if ( $('html').hasClass('activemenu') ) {
                    Animations.mobileMenuOut();
                } else {
                    Animations.mobileMenuIn();
                }
            }
        }
    }
</script>
