<template>
    <svg width="11px" height="15px" viewBox="0 0 11 15">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-795.000000, -679.000000)" fill-rule="nonzero">
                <g transform="translate(795.000000, 679.000000)">
                    <polyline stroke="#F8D095" transform="translate(5.500000, 9.000000) rotate(-45.000000) translate(-5.500000, -9.000000) " points="9.21751442 12.7175144 1.99612195 12.5398335 1.78248558 5.28248558"></polyline>
                    <rect fill="#F8D095" x="5" y="0" width="1" height="14"></rect>
                </g>
            </g>
        </g>
    </svg>
</template>

<script>
export default {
}
</script>