<template>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div v-for="(story, ID) in content" :key="'story-'+ID" class="swiper-slide story">
                {{ story }}
                <div class="background-image" :style="'background-image: url('+story.feature_image.url+')'"></div>
                <div class="content">
                    <div class="subtitle">
                        <h3 class="small-gold-text">{{ story.subtitle }}</h3>
                    </div>
                    <router-link :to="story.link" @mouseover.native="previewStory(story)">
                        <div class="title" v-if="story.title">
                            <div class="title__line" v-for="(title, storyID) in story.title" :key="'title-line-'+storyID" >
                                <span class="story-heading">{{ title.title_line }}</span>
                            </div>
                        </div>
                        <div class="view-story-container" v-if="story.link !== null">
                            <span class="standard-white-text view-story">
                                <span class="cover"><span class="text">View</span></span>
                                <hr>
                            </span>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [ 'content' ],
        components: {
        },
        mounted() {
            let vm = this;
            vm.slider();
        },
        methods: {
            previewStory(story){
                let vm = this;
                vm.$store.dispatch('updateStoryHeader', {
                    content: story,
                    slideCount: vm.content.length,
                    slideIndex: $('.featured-stories__footer .count .current').html()
                } );
            },
            slider() {
                let vm = this,
                    delay = 2,
                    firstPage = false;

                if( vm.$store !== undefined && vm.$store.state.show_intro ) {
                    delay = 4.4;
                    firstPage = true;
                }

                var featuredStoriesSwiper = new Swiper('.swiper-container', {
                    direction: 'vertical',
                    slidesPerView: 1,
                    speed: 1000,
                    effect: 'fade',
                    loop: true,
                    mousewheel: {
                        sensitivity: 5,
                    },
                    keyboard: {
                        enabled: true,
                        onlyInViewport: false,
                    },
                    on: {
                        init: function(){
                            Animations.homepageIn( delay, firstPage );

                            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                                Animations.loadingScreenOut();
                            }
                        }
                    }
                });

                featuredStoriesSwiper.on('slideChangeTransitionStart', function () {
                    Animations.homepageSlideOut();
                });

                featuredStoriesSwiper.on('slideChangeTransitionEnd', function () {
                    Animations.homepageSlideIn();
                });

                featuredStoriesSwiper.on('slideChange', function () {
                    setTimeout(function(){
                        vm.$store.dispatch('updateStoryHeader', {
                            slideIndex: featuredStoriesSwiper.realIndex + 1
                        } );
                    }, 1000 );
                });

                $('body').on( 'click', '.featured-stories .scroll', function(){
                    featuredStoriesSwiper.slideNext();
                });

            }
        },
        data () {
            return {
                story_header: null
            }
        }
    }
</script>