<template>
    <div class="swiper-container gallery">
        <div class="swiper-wrapper">
            <div v-for="(image, ID) in content" :key="'image-'+ID" class="swiper-slide image">
                <div class="image-wrapper">
                    <img :src="image.url" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['content'],
        mounted() {
            let vm = this;
            vm.slider();
        },
        methods: {
            slider() {
                let vm = this,
                    delay = 0;

                if( vm.$store !== undefined && vm.$store.state.show_intro ) {
                    delay = 4.5;
                }

                var featuredStoriesSwiper = new Swiper('.swiper-container', {
                    slidesPerView: 2,
                    centeredSlides: true,
                    spaceBetween: 65,
                    a11y: true,
                    preloadImages: true,
                    loop: true,
                    speed: 1000,
                    mousewheel: {
                        sensitivity: 5,
                    },
                    keyboard: {
                        enabled: true,
                        onlyInViewport: false,
                    },
                    on: {
                        init: function(){
                            Animations.portfolioIn(delay);
                        }
                    },
                    breakpoints: {
                        320: {
                            spaceBetween: 20,
                        },
                        600: {
                            slidesPerView: 1.5,
                        },
                        980: {
                            spaceBetween: 50,
                        },
                    }
                });
            }
        }
    }
</script>