html,
body {
    &,
    * {
        @include mq( desktop ){
            cursor: none !important;
        }
    }
}

.cursor {
    background-color: $black-alt;
    border-radius: 100%;
    display: none;
    height: 6px;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    position: fixed;
    transform: scale(1);
    width: 6px;
    z-index: 9010;

    @include mq( $until: desktop ){
        display: none !important;
    }

    &.enabled {
        display: block;
    }

    &.active {
        background-color: $black-alt;
        transform: scale(2);
        opacity: 1;
    }

    &.drag { 
        opacity: 0;
    }

    &.hovered {
        opacity: 1;
    }

    &-follower {
        border: 2px solid $gold;
        border-radius: 100%;
        display: none;
        height: 80px;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
        user-select: none;
        opacity: 0.7;
        pointer-events: none;
        position: fixed;
        transform: translate(-24px, -24px);
        width: 80px;
        z-index: 9000;

        @include mq( $until: desktop ){
            display: none !important;
        }

        &.enabled {
            display: block;
        }
    
        &.active {
            //background-color: $gold;
            opacity: 0.9;
        }

        &.hovered {
            opacity: 0.65;
        }
    
        &.drag {
            background-color: $gold;
            &:after {
                color: $black-alt;
                content: "Drag";
                font-family: "Montserrat", sans-serif;
                font-size: 10px;
                font-weight: bold;
                letter-spacing: 4px;
                line-height: 76px;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;
            }
        }
    }
}
  
.page-about,
.page-error404 {
    .cursor {
        background-color: $white;
    }
}