.header {
    padding: 20px 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    @include mq(tablet) {
        @include interpolate(padding-top, 740px, $max_width, 25px, 40px);
        @include interpolate(padding-right, 740px, $max_width, 10px, 30px);
        @include interpolate(padding-bottom, 740px, $max_width, 25px, 40px);
        @include interpolate(padding-left, 740px, $max_width, 40px, 50px);
    }
    
    &__wrapper {
        @include mq( $until: desktop ){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        display: block;
        float: left;
        p, h1 {
            color: $white;
            font-family: $heading-text;
            @include interpolate(font-size, $min_width, $max_width, 20px, 35px);
            font-weight: 500;
            line-height: 1.2;
            margin: 5px 0;
            text-transform: uppercase;
            transition: color 0.3s ease-in-out;

            &:hover, 
            &:active {
                color: $gold !important;
            } 
        }
    }

    &__menu {

        &--desktop {
            display: block;
            float: right;
            
            @include mq( $until: desktop ){
                display: none;
            }

            a {
                padding: 10px 20px;
                position: relative;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: $gold;
                }

                &:after {
                    content: "";
                    background: $gold;
                    display: block;
                    height: 3px;
                    position: absolute;
                    left: 10px;
                    right: calc( 100% + 20px );
                    top: 50%;
                    transform: translateY(-50%);
                    transition: right 0.3s ease-in-out;
                    transition-delay: 1s;
                }

                &.router-link-exact-active,
                &.router-link-active:not(.header__menu--home) {
                    color: $white !important;

                    &.animate-in {
                        &:after {
                            right: 10px;
                        }
                    }

                    &.leaving {
                        &::after {
                            right: calc( 100% + 10px );
                            transition-delay: 0s;
                        }
                    }
                }
            }
        }

        &--mobile {
            display: block;
            float: right;

            @include mq( desktop ){
                display: none;
            }

            .menu-toggle {
                display: block;
                float: right;
                height: 20px;
                margin: 5px 0;
                position: relative;
                width: 30px;
                    
                &::before,
                &::after {
                    content: "";
                    background: $white;
                    display: block;
                    height: 2px;
                    position: absolute;
                    left: 50%;
                    transform: translateX( -50% );
                    width: 20px;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }

                &:hover {
                    span {
                        background: $gold !important;
                        width: 30px;
                    }
                }

                span {
                    background: $white;
                    display: block;
                    height: 2px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate( -50%, -50% );
                    transition: 0.3s ease-in-out;
                    width: 20px;
                }
            }

            .header__mobile-menu {
                background: $black-alt;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 0;
                overflow: hidden;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                z-index: -1;

                .inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 70px 25px 20px;

                    a {
                        clear: both;
                        display: block;
                        float: left;
                        font-size: 32px;
                        line-height: 40px;
                        margin: 0 0 40px 0;
                        opacity: 0;
                        transition: 0.3s ease-in-out;
        
                        &:hover {
                            color: $gold;
                        }
        
                        &:after {
                            content: "";
                            background: $gold;
                            display: block;
                            height: 3px;
                            position: absolute;
                            left: -10px;
                            right: calc( 100% + 10px );
                            top: 50%;
                            transform: translateY(-50%);
                            transition: right 0.3s ease-in-out;
                            transition-delay: 1s;
                        }
        
                        &.router-link-exact-active,
                        &.router-link-active:not(.header__menu--home) {
                            color: $white !important;
                            position: relative;
                            
                            &:after {
                                right: -10px;
                            }
        
                            &.leaving {
                                &::after {
                                    right: calc( 100% + 10px );
                                    transition-delay: 0s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-contact,
.page-portfolio {
    .header {
        &__logo {
            p, h1 {
                color: $black !important;
            }
        }
    
        &__menu--desktop {
            a {
                color: $black !important;

                &:hover {
                    color: $gold !important;
                }

                &.router-link-exact-active, 
                &.router-link-active:not(.header__menu--home) {
                    color: $black !important;
                }
            }
        }

        .menu-toggle {
            &::before,
            &::after {
                background: $black;
            }

            span {
                background: $black;
            }
        }
    }
}

html.activemenu {
    .header__logo {
        p, h1 {
            color: $white !important;
        }
    }
    .menu-toggle {
        &::before,
        &::after {
            background: $white !important;
        }

        span {
            background: $white !important;
        }
    }
}

.page {
    .header {
        &__logo {
            p, h1 {
                &:hover {
                    color: $gold !important;
                }
            }
        }
    }
}