.loading {
    max-height: 100vh;
    
    &__screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 9999;

        .line {
            display: block;
            overflow: hidden;
        }

        span {
            display: block;
            font-family: $heading-text;
            @include interpolate(font-size, $min_width, $max_width, 20px, 40px);
            font-weight: 500;
            @include interpolate(line-height, $min_width, $max_width, 32px, 54px);
            text-align: center;
        }

        &--one {
            background: $white;
        }

        &--two {

            .background {
                background: #211F1F;
                height: 100vh;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            span {
                color: $white;
                @include interpolate(font-size, $min_width, $max_width, 30px, 60px);
                @include interpolate(line-height, $min_width, $max_width, 54px, 76px);
                position: relative;
            }
        }

        &--simple {
            display: none;
            z-index: 9999;

            .loading__screen {
                background: none;
            }

            .background {
                background: #ECECEC;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 9999;
            }

            span {
                color: $black;
                @include interpolate(font-size, $min_width, $max_width, 30px, 60px);
                @include interpolate(line-height, $min_width, $max_width, 54px, 76px);
                position: relative;
                z-index: 9999;
            }
        }
    }
}