.social {
    &__accounts {
        display: flex;

        &--container {
            display: flex;
        }
    }

    &__account {

        a {
            border: 1px solid $gold;
            border-radius: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            transition: 0.3s ease-in-out;
            width: 45px;

            &:hover {
                background: $gold;

                svg {
                    path {
                        fill: $white;
                    }
                }
            }

            svg {
                height: 15px;
                width: 15px;
                
                >* {
                    transition: 0.3s ease-in-out;
                }
            }

        }
    }
}

.story__header,
.homepage {
    .social__accounts {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        @include mq(tablet) {
            display: flex;
            right: 30px;

            &--container {
                flex-direction: column;
            }
        }
        @include mq(desktop) {
            right: 50px;
        }

        .social__account {
            &+ .social__account {
                margin-top: 15px;
            }

            a {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
}