//Basic
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-width: 100vw;
    overflow-x: hidden;
    //overscroll-behavior: none;

    @media only screen and (min-width: 768px) {
        font-size: 1vw;
    }

    @media only screen and (min-width: 1440px) {
        font-size: 14.4px;
    }
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $body-text;
    line-height: 1.5;

    /*scroll-behavior: smooth;*/
    &.noscroll {
        overflow-y: hidden;
    }
}

body {
    @include antialias;
    margin: 0;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    text-rendering: optimizeLegibility;

    &::after {
        background-image: url(../images/grain.gif);
        content: "";
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: .05;
        z-index: 100000;
        pointer-events: none;
    }
}

a {
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}



// Fonts
h1 {
    font-weight: 800;
    color: $white;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 600;
}

p {
    line-height: 1.9em;
    letter-spacing: 0.35px;
    font-size: 1.3rem;

    &.subhead {
        @include interpolate(font-size, $min_width, $max_width, 24px, 41px);
        font-weight: 600;
        line-height: 1.6em;
    }

    &.strapline {
        @include interpolate(font-size, $min_width, $max_width, 18px, 51px);
        line-height: 1.66em;
        font-weight: 600;
        line-height: 1.29em;
    }

    &.small {
        font-size: 11px;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.23em;
        position: relative;

        &--dashed {
            display: inline-block;
            padding-right: 2em;

            // &:before {@include pseudo;position: absolute;width:100%; height:100%; left:0; top:0; background:$white;}
            &:after {
                @include pseudo;
                content: '//';
                top: 0;
                right: 0;
            }
        }

        &--lined {
            display: inline-block;
            background: inherit;
            position: relative;

            &:after {
                @include pseudo;
                content: '';
                top: 50%;
                left: 110%;
                height: 1px;
                background: $white;
                transform: translateY(-50%);
                width: 100%;
            }
        }
    }

    &.stat__title {
        @include interpolate(font-size, $min_width, $max_width, 18px, 29px);
        line-height: 1.34em;
        font-weight: 600;
        @include interpolate(margin-bottom, $min_width, $max_width, 5px, 15px);
    }

    &.h1 {
        @extend h1;
        line-height: 0.89em;
    }

    @include mq(tablet) {
        font-size: 1.692708333rem;
    }

    @include mq(desktopL) {
        font-size: 1.26953125rem;
    }

    @include mq(wide) {
        font-size: 1.180555556rem;
    }
}

.bg--white {
    p {
        &.small {
            color: $black;
            &--lined {
                &:after { background-color: $black; }
            }
        }
    }
}

a {
    color: inherit;

    &.underline {
        position: relative;
        padding: 6px;

        &:before,
        &:after {
            @include pseudo;
        }

        &:before {
            content: attr(title);
            color: $white;
            opacity: 0;
            transform: translateY(5px);
            transition: all 0.1s ease-in-out;
            z-index: 1;
            pointer-events: none;
            transition-delay: 0.05s;
        }

        &:after {
            width: 100%;
            height: 2px;
            background: $black;
            bottom: 0;
            transition: all 0.1s ease-in-out;
            pointer-events: none;
            left: 0;
        }

        &:hover,
        &:focus {
            &:before {
                transform: translateY(0);
                opacity: 1;
            }

            &:after {
                //height: calc(100% - 10px);
                height: 100%;
            }
        }

        &--white {
            line-height: 1.9em;

            &:before {
                color: $black;
            }

            &:after {
                background: $white;
                bottom: 0;
            }

            &:hover,
            &:focus {
                &:after {
                    //height: calc(100% - 0px);
                    height: 100%;
                }
            }
        }

        &.nounderline {
            &:after {
                height: 0;
            }

            &:hover,
            &:focus {
                &:before {
                    transform: translateY(0);
                    opacity: 1;
                }

                &:after {
                    //height: calc(100% - 10px);
                    height: 100%;
                }
            }
        }
    }

}

.bg--black {
    a {
        &.underline {
            &::before {
                color: $black;
            }
        }
    }
}

.inner {
    padding: 4.5em 3em;

    @include mq($from: desktopL) {
        padding: 4.5em 0;
    }

    @include mq($from:desktopL) {
        &--99 {
            max-width: 99rem;
            margin: 0 auto;
        }

        &--93 {
            max-width: 93rem;
            margin: 0 auto;
        }

        &--96 {
            max-width: 96rem;
            margin: 0 auto;
        }

        &--104 {
            max-width: 104rem;
            margin: 0 auto;
        }

        &--109 {
            max-width: 109rem;
            margin: 0 auto;
        }

        &--115 {
            max-width: 115rem;
            margin: 0 auto;
        }

        &--120 {
            max-width: 124rem;
            margin: 0 auto;
            padding: 4.5em 2em;
        }
    }

}

.floating {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    @include interpolate(padding-left, $min_width, $max_width, 25px, 100px);

    p {
        font-weight: bold;
        letter-spacing: 0.23em;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    @include mq($until:1290px) {
        display: none;
    }
}

.bg--black {
    background: $black;
    color: $white;
}

.bg--white {
    background-color: $white;
    color: $black;
}

.go {
    cursor: pointer;

    .attract-hover-easing {
        transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .inner {
        padding: 2.4rem;
        display: inline-block;
    }
}

// .pointer {position: fixed; left:0; top:0;  z-index: 1001; width:100%; height:100%; //pointer-events: none;
//     &--circle {width: 6px; height: 6px; left: -3px; top: -3px;position: absolute; border-radius: 50%;
//         &:before {content: "";position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #f85959; border-radius: 50%; transition-property: transform background-color; transition-timing-function: cubic-bezier(.6,.01,0,1.38),ease-in-out;}
//     }
// }

.cursor-slider {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 100;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #d5d5d5 transparent transparent;

    &-left {
        border-width: 8px 13.9px 8px 0;
    }

    &-right {
        border-width: 8px 0 8px 13.9px;
    }
}

.objectfit {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}