@mixin antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

$mq-breakpoints: (
    mobile:  320px,
    mobileX: 450px,
    phablet: 600px,
    tablet:  740px,
    desktop: 980px,
    desktopL: 1024px,
    wide:    1400px,
    xwide:    1500px
);

@import "mq";

@mixin center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin transition {
    transition: all 0.4s cubic-bezier(0, 0, 0, 1);
}

@mixin stagger( $duration: 0.15s )
{
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            transition-delay: calc(#{$i} * #{$duration});
        }
    }
}

@mixin cf {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}