// Fonts
@font-face {
    font-family: 'SangBleu Kingdom';
    font-display: auto;
    src: url('/app/themes/sidebyside/assets/dist/fonts/SangBleuKingdom-Medium-WebXL.woff2') format('woff2'),
         url('/app/themes/sidebyside/assets/dist/fonts/SangBleuKingdom-Medium-WebXL.woff') format('woff'),
         url('/app/themes/sidebyside/assets/dist/fonts/SangBleuKingdom-Medium-WebXL.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}

$body-text: 'Montserrat', sans-serif;
$heading-text: 'SangBleu Kingdom', sans-serif;

.story-heading {
    color: $white;
    font-family: $heading-text;
    @include interpolate(font-size, $min_width, $max_width, 40px, 80px);
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}

.small-gold-text {
    color: $gold;
    font-family: $body-text;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    text-transform: uppercase;
}

.standard-white-text {
    color: $white;
    font-family: $heading-text;
    font-size: 16px;
    line-height: 23px;
}