<template>
    <section class="story__footer">
        <div class="story__footer--content">
            <div class="title" v-if="story_header.content !== null && story_header.content.title">
                <div class="title__line" v-for="(title, storyID) in story_header.content.title" :key="'title-line-'+storyID" >
                    <span class="story-heading">{{ title.title_line }}</span>
                </div>
            </div>
            <div class="share">
                <h3 class="small-gold-text">Share</h3>
                <div class="social__accounts">
                    <div class="social__account">
                        <a :href="'https://www.facebook.com/sharer/sharer.php?u='+story.link" target="_blank" rel="noopener" title="Share on Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>
                        </a>
                    </div>
                    <div class="social__account">
                        <a :href="'https://twitter.com/intent/tweet?text='+story.link" target="_blank" rel="noopener" title="Share on Twitter">
                            <svg width="12px" height="10px" viewBox="0 0 12 10"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-800.000000, -9231.000000)" fill="#FFFFFF"><g transform="translate(613.000000, 9213.000000)"><g transform="translate(170.000000, 0.000000)"><path d="M27.5863708,19.580962 C28.0949111,19.2689585 28.4851206,18.7742308 28.6682515,18.1848909 C28.1921113,18.4745053 27.6659623,18.683952 27.1045959,18.7973422 C26.6566297,18.3062256 26.0163761,18 25.3078007,18 C23.9484064,18 22.846804,19.1302903 22.846804,20.5241947 C22.846804,20.7220858 22.8672301,20.9149213 22.9094911,21.09909 C20.8640606,20.9936444 19.050361,19.9897443 17.8353583,18.4615051 C17.6233492,18.8356204 17.5022011,19.2689585 17.5022011,19.7311859 C17.5022011,20.606529 17.9367846,21.3793153 18.5974643,21.8328759 C18.1938722,21.8198758 17.8142279,21.7050412 17.481775,21.5172613 L17.481775,21.5483172 C17.481775,22.7717752 18.3298116,23.7922866 19.4574749,24.0234003 C19.2503962,24.0826231 19.0334566,24.1122346 18.8080648,24.1122346 C18.6495862,24.1122346 18.4946293,24.0970677 18.3453073,24.0674563 C18.6580384,25.0699119 19.5673534,25.8008089 20.6450079,25.8203091 C19.8019017,26.4977611 18.7404473,26.9007656 17.5874274,26.9007656 C17.3888008,26.9007656 17.1922874,26.8899321 17,26.8660985 C18.0896285,27.5818287 19.3835182,28 20.7739039,28 C25.3028702,28 27.7779539,24.1534017 27.7779539,20.8174202 C27.7779539,20.7076412 27.7765452,20.5985844 27.7716147,20.4909721 C28.2526853,20.1349126 28.6710689,19.6900188 29,19.1837354 C28.558373,19.3845154 28.0836415,19.5202947 27.5863708,19.580962 Z" id="Shape"></path></g></g></g></g></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="next-story" v-if="next_story">
                <router-link :to="next_story.link" :title="next_story.title">
                    <span>Next Story</span>
                </router-link>
            </div>
        </div>
        <div class="story__footer--legal">
            Footer
        </div>
    </section>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        props:['story', 'next_story'],
        computed: {
            ...mapState(
                ['settings', 'story_header'],
            )
        },
        beforeRouteLeave(to, from, next) {
            Animations.loadingScreenIn();
            next();
        }
    }
</script>