<template>
    <section v-if="story_header.content !== null" class="story__header" :class=" { 'story__header--shallow' : !from_home }">
        <div class="background-image" :style="'background-image: url('+story_header.content.feature_image.url+')'">
            <div class="overlay" data-aos="story-fade-out" data-aos-anchor-placement="bottom-bottom" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-offset="50" data-aos-once="false"></div>
        </div>
        <div class="content">
            <div class="subtitle">
                <h3 class="small-gold-text">{{ story_header.content.subtitle }}</h3>
            </div>
            <div class="title" v-if="story_header.content.title">
                <div class="title__line" v-for="(title, storyID) in story_header.content.title" :key="'title-line-'+storyID" >
                    <span class="story-heading">{{ title.title_line }}</span>
                </div>
            </div>
            <div class="view-story-container" v-if="from_home">
                <a class="standard-white-text view-story">
                    <span class="cover"><span class="text">View</span></span>
                    <hr>
                </a>
            </div>
        </div>
        <social-accounts :social_accounts="settings.social_accounts" :animate="false"></social-accounts>
        <div class="featured-stories__footer" v-if="from_home">
            <p class="standard-white-text count" v-if="story_header !== null">
                <span class="current">{{ story_header.slideIndex }}</span> / {{ story_header.slideCount }}
            </p>
            <div class="standard-white-text scroll"><a>Scroll To Next Story</a></div>
            <p class="standard-white-text tagline">Capturing Authentic Moments.</p>
        </div>
        <div class="story__header--footer">
            <a class="standard-white-text scroll-story">
                <span class="cover"><span class="text">Scroll to Discover</span><scroll-arrow></scroll-arrow></span>
            </a>
        </div>
    </section>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    import SocialAccounts from '../general/social-accounts';
    import ScrollArrow from '../../svgs/scroll-arrow';

    import ScrollMagic from 'ScrollMagic';
    import 'scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js';

    const controller = new ScrollMagic.Controller();

    export default {
        props: ['from_home'],
        components: {
            SocialAccounts,
            ScrollArrow
        },
        created() {
            let vm = this;
        },
        computed: {
            ...mapState(
                ['story_header', 'settings'],
            )
        },
        methods: {
        }
    }
</script>