<template>
    <section class="fourohfour__wrapper" v-if="page == null">
        <div class="fourohfour__wrapper--inner">
            <div class="title" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <h1>Page not<br>found</h1>
            </div>
            <div class="fourohfour__content-wrapper">
                <div class="fourohfour__content">
                    <div class="description" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <p>Unable to find what you're looking for?</p>
                    </div>
                    <ul class="menu" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <li>
                            <router-link :to="'/contact'"><span>Get in touch</span></router-link>
                        </li>
                    </ul>
                </div>
                <div class="fourohfour__details" v-if="settings.contact_details">
                    <social-accounts :animate="true"></social-accounts>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    import SocialAccounts from '../blocks/general/social-accounts';

    export default {
        props: [],
        components: {
            SocialAccounts
        },
        computed: {
            ...mapState(
                ['settings'],
            )
        },
        beforeRouteLeave(to, from, next) {
            Animations.loadingScreenIn();
            next();
        },
        created(){
            let vm = this;

            vm.$store.dispatch( 'updateReferrer', '404' );

            $('body').addClass('page-error404').removeClass('page-about page-contact page-portfolio page-home page-story');

        },
        mounted() {
            let vm = this;

            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                Animations.loadingScreenOut();
            }

            setTimeout( function(){
                Animations.fourohfourIn();
            }, vm.delay );

        },
        data () {
            return {
                delay: 1000,
                page: null
            }
        }
    }
</script>