<template>
    <section class="about__wrapper">
        <div class="about__wrapper--intro">
            <div class="title">
                <h1>{{ page.acf.title }}</h1>
                <p class="subtitle" v-if="page.acf.subtitle !== ''">{{ page.acf.subtitle }}</p>
            </div>
            <div v-if="page.acf.content !== undefined && page.acf.content.length > 0" class="navigation">
                <h4>Jump To</h4>
                <ul>
                    <template v-for="(link, ID) in page.acf.content">
                        <li v-if="link.in_page_link" :key="'link-'+ID">
                            <a @click="internalLink(ID)">{{ link.link_title }}</a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <div class="about__wrapper--content" v-if="page.acf.content !== undefined && page.acf.content.length > 0">
            <div v-if="page.acf.featured_image !== null" class="featured-image">
                <div class="featured-image__wrapper">
                    <img :src="page.acf.featured_image.url" />
                </div>
            </div>
            <div :class="'content-block content-block--'+ID" v-for="(block, ID) in page.acf.content" :key="'block-'+ID">
                <h2 v-if="block.title !== ''">{{ block.title }}</h2>
                <div class="content-block__text" v-html="block.content"></div>
                <div class="content-block__services" v-if="block.content_type == 'services' && block.services.length > 0">
                    <h4>Our Services</h4>
                    <ul>
                        <li v-for="(service, ID) in block.services" :key="'service-'+ID">
                            {{ service.service }}
                        </li>
                    </ul>
                </div>
                <div class="content-block__prices" v-if="block.content_type == 'pricing' && block.prices.length > 0">
                    <div class="price-block" v-for="(price, ID) in block.prices" :key="'price-'+ID" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="price-block__meta">
                            <p class="title">{{ price.title }}</p>
                            <p>{{ price.description }}</p>
                        </div>
                        <div class="price-block__price">
                            <p>&pound;{{ price.price }}</p>
                        </div>
                    </div>

                    <div class="content-block__prices--extra" v-if="block.extra_prices.length > 0" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <h4>Extras</h4>
                        <div class="price-block" v-for="(price, ID) in block.extra_prices" :key="'exta-price-'+ID" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                            <div class="price-block__meta">
                                <p class="title">{{ price.title }}</p>
                                <p>{{ price.description }}</p>
                            </div>
                            <div class="price-block__price">
                                <p>&pound;{{ price.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__wrapper--contact" v-if="page.acf.content !== undefined && page.acf.show_link_to_contact_page" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <router-link :to="'/contact'"><span>{{ page.acf.contact_link_text }}</span></router-link>
        </div>
        
    </section>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        computed: {
            ...mapState(
                ['settings'],
            )
        },
        beforeRouteLeave(to, from, next) {
            Animations.loadingScreenIn();
            next();
        },
        created(){
            let vm = this,
                api_url = '/wp-json/wp/v2/pages?slug=our-approach';

            if( vm.$store !== undefined && vm.$store.state.show_intro ) {
                vm.delay = 5000;
            }

            axios.get( api_url )
                .then(response => {
                    if( response.data ) {
                        vm.page = response.data[0];
                        vm.$store.dispatch( 'updatePage', vm.page );
                        vm.$store.dispatch( 'updateReferrer', 'About' );
                    } else {
                        return vm.$router.replace('/404');
                    }
                })
                .catch( error => (console.log(error)) );

            $('body').addClass('page-about').removeClass('page-error404 page-contact page-portfolio page-home page-story');

        },
        mounted() {
            let vm = this;

            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                Animations.loadingScreenOut();
            }

            setTimeout( function(){
                Animations.aboutIn();
                $('#header .router-link-active').addClass('animate-in');
            }, vm.delay );
            
        },
        methods: {
            internalLink( ID ){
                if( $('.content-block--'+ID).length ) {
                    var position = $('.content-block--'+ID).offset().top - 140;
                    $("html, body").animate({ scrollTop: position }, 1000);
                }
            }
        },
        data () {
            return {
                delay: 1000,
                page: {
                    acf: {

                    }
                }
            }
        }
    }
</script>