<template>
    <section class="contact__wrapper" v-if="page !== null">
        <div class="contact__wrapper--inner">

            <div class="title" >
                <h1 v-html="page.acf.title"></h1>
            </div>

            <div class="contact__content-wrapper">
                <div class="contact__content">
                    <div class="description" v-html="page.acf.content"></div>
                    <ul class="menu" v-if="page.acf.links">
                        <li v-for="(link, ID) in page.acf.links" :key="'link-'+ID">
                            <router-link :to="link.link"><span>{{ link.link_text }}</span></router-link>
                        </li>
                    </ul>
                </div>
                <div class="contact__details" v-if="settings.contact_details">
                    <div class="contact__detail" v-for="(contact, ID) in settings.contact_details" :key="'contact-'+ID">
                        <template v-if="contact.type =='email'">
                            <span>EMAIL</span>
                            <p>{{ contact.detail }}</p>
                        </template>
                        <template v-if="contact.type =='phone'">
                            <span>CALL</span>
                            <p>{{ contact.detail }}</p>
                        </template>
                    </div>
                    <social-accounts :animate="false"></social-accounts>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    import SocialAccounts from '../blocks/general/social-accounts';

    export default {
        props: [],
        components: {
            SocialAccounts
        },
        computed: {
            ...mapState(
                ['settings'],
            )
        },
        beforeRouteLeave(to, from, next) {
            Animations.loadingScreenIn();
            next();
        },
        created(){
            let vm = this,
                api_url = '/wp-json/wp/v2/pages?slug=contact';
                
            if( vm.$store !== undefined && vm.$store.state.show_intro ) {
                vm.delay = 5000;
            }

            axios.get( api_url )
                .then(response => {
                    if( response.data ) {
                        vm.page = response.data[0];
                        vm.$store.dispatch( 'updatePage', vm.page );
                        vm.$store.dispatch( 'updateReferrer', 'Contact' );

                    } else {
                        return vm.$router.replace('/404');
                    }
                })
                .catch( error => (console.log(error)) );

            $('body').addClass('page-contact').removeClass('page-error404 page-about page-portfolio page-home page-story');

        },
        mounted() {
            let vm = this;

            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                Animations.loadingScreenOut();
            }

            setTimeout( function(){
                Animations.contactIn();
                $('#header .router-link-active').addClass('animate-in');
            }, vm.delay );

        },
        data () {
            return {
                delay: 1000,
                page: null
            }
        }
    }
</script>