<template>
    <div class="homepage">
        <div v-if="featured_stories" class="featured-stories">
            <featured-stories :content="featured_stories"></featured-stories>
            <social-accounts :social_accounts="settings.social_accounts" :animate="false"></social-accounts>
            <div class="featured-stories__footer">
                <p class="standard-white-text count" v-if="story_header !== null">
                    <span class="current">{{ story_header.slideIndex }}</span> / {{ story_header.slideCount }}
                </p>
                <div class="standard-white-text scroll"><a>Scroll To Next Story</a></div>
                <p class="standard-white-text tagline">Capturing Authentic Moments.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    import FeaturedStories from '../blocks/homepage/featured-stories';
    import SocialAccounts from '../blocks/general/social-accounts';

    export default {
        props: [],
        components: {
            FeaturedStories,
            SocialAccounts
        },
        beforeRouteLeave(to, from, next) {
            if( to.name !== 'Story' ) {
                Animations.loadingScreenIn();
            }
            next();
        },
        computed: {
            ...mapState(
                ['story_header', 'settings'],
            )
        },
        created() {
            let vm = this,
                api_url = '/wp-json/sbs/v1/homepage';

            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                Animations.homepageHide();
            }

            axios.get( api_url )
                .then( response => {
                    
                    if( response.data.page !== undefined ) {
                        vm.page_id = response.data.page.ID;
                        vm.featured_stories = response.data.featured_stories;

                        vm.$store.dispatch('updateStoryHeader', {
                            content: vm.featured_stories[0],
                            slideCount: vm.featured_stories.length,
                            slideIndex: 1
                        } );

                        axios.get('/wp-json/wp/v2/pages/' + vm.page_id)
                            .then(response => {
                                if( response.data ) {
                                    vm.page = response.data;
                                    vm.$store.dispatch( 'updatePage', vm.page );
                                    vm.$store.dispatch( 'updateReferrer', 'Home' );
                                } else {
                                    return vm.$router.replace('/404');
                                }
                            })
                            .catch( error => {
                                return vm.$router.replace('/404');
                            });

                        $('body').addClass('page-home').removeClass('page-error404 page-about page-contact page-portfolio');

                    } else {
                        return vm.$router.push('/404');
                    }
                })
                .catch( error => (console.log(error)) );

        },
        mounted() {
            let vm = this;
        },
        data() {
            return {
                delay: 1000,
                featured_stories: null,
                page: null
            }
        }
    }
</script>

