<template>
    <div v-if="show_intro" class="loading loading__screen--intro loading__screen-container">
        <div class="loading__screen loading__screen--one">
            <div class="content">
                <div class="line line--one"><span><i>Documentary–style</i></span></div>
                <div class="line line--two"><span>wedding photography</span></div>
                <div class="line line--three"><span>& film.</span></div>
            </div>
        </div>
        <div class="loading__screen loading__screen--two">
            <div class="content">
                <div class="background"></div>
                <span>SIDE BY SIDE</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            show_intro() {
                let vm = this;
                return vm.$store.state.show_intro;
            }
        },
        created(){
            let vm = this;
        }
    }
</script>