<template>
    <div class="loading loading__screen--simple loading__screen-container">
        <div class="loading__screen">
            <div class="background"></div>
            <span>SIDE BY SIDE</span>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
        },
        created() {
            let vm = this;
        }
    }
</script>