<template>
    <section class="portfolio" v-if="page.id !== undefined">
        <gallery :content="page.acf.gallery"></gallery>
    </section>
</template>

<script>
    import Gallery from '../blocks/portfolio/gallery';

    export default {
        components: {
            Gallery
        },
        beforeRouteLeave(to, from, next) {
            Animations.loadingScreenIn();
            next();
        },
        created(){
            let vm = this,
                api_url = '/wp-json/wp/v2/pages?slug=portfolio';

            if( vm.$store !== undefined && vm.$store.state.show_intro ) {
                vm.delay = 5000;
            }

            axios.get( api_url )
                .then(response => {
                    if( response.data ) {
                        vm.page = response.data[0];
                        vm.$store.dispatch( 'updatePage', vm.page );
                        vm.$store.dispatch( 'updateReferrer', 'Portfolio' );

                    } else {
                        return vm.$router.replace('/404');
                    }
                })
                .catch( error => (console.log(error)) );

            $('body').addClass('page-portfolio').removeClass('page-error404 page-about page-contact page-home page-story');

        },
        mounted(){
            let vm = this;

            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                Animations.loadingScreenOut();
            }

            setTimeout( function(){
                $('#header .router-link-active').addClass('animate-in');
            }, vm.delay );
        },
        data () {
            return {
                delay: 1000,
                page: {
                    acf: null
                }
            }
        }
    }
</script>