<template>
    <div class="story__wrapper" :class="( from_story ) ? 'sibling' : '' ">
        <story-header :from_home="from_home"></story-header>
        <section v-if="story !== null && story.acf !== undefined" class="story__content">
            <div class="story__content--introduction">
                <div class="story__content--meta">
                    <p class="services" v-html="story.acf.services"></p>
                    <p class="date" v-html="story.acf.event_date"></p>
                    <p class="location" v-html="story.acf.event_location"></p>
                </div>
                <div class="story__content--about">
                    <p v-html="story.acf.description"></p>
                </div>
            </div>
            <div class="story__photos" v-if="story.acf.photos !== null">
                <template v-for="(photo_block, ID) in story.acf.photos">
                    <full-width   v-if="photo_block.acf_fc_layout == 'full_width_image'" :key="'photo-block-'+ID" :id="ID" :content="photo_block" :last="( ( ID + 1 ) == story.acf.photos.length) ? true : false"></full-width>
                    <juxta-blocks v-if="photo_block.acf_fc_layout == 'juxta_blocks'" :key="'photo-block-'+ID" :id="ID" :content="photo_block"></juxta-blocks>
                    <slider       v-if="photo_block.acf_fc_layout == 'slider'" :key="'photo-block-'+ID" :id="ID" :content="photo_block"></slider>
                </template>
            </div>
            <story-footer :story="story" :next_story="next_story"></story-footer>
        </section>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    import StoryHeader from '../blocks/story/header';
    import StoryFooter from '../blocks/story/footer';

    import FullWidth from '../blocks/story/photo-blocks/full_width';
    import JuxtaBlocks from '../blocks/story/photo-blocks/juxta_blocks';
    import Slider from '../blocks/story/photo-blocks/slider';

    export default {
        props:[],
        components: {
            StoryHeader,
            FullWidth,
            JuxtaBlocks,
            Slider,
            StoryFooter
        },
        beforeRouteLeave(to, from, next) {
            Animations.loadingScreenIn();
            next();
        },
        beforeRouteUpdate(to, from, next) {
            Animations.loadingScreenIn();
            setTimeout(function(){
                next();
            }, 1000);
        },
        computed: {
            ...mapState(
                [ 'story_header', 'referrer' ],
            )
        },
        created() {
            let vm = this,
                api_url = '/wp-json/wp/v2/stories?slug=' + vm.$route.params.postSlug,
                delay = 1.5;

            if( vm.$store !== undefined && vm.$store.state.show_intro ) {
                delay = 4.4;
            }

            if( vm.referrer == 'Home' ) vm.from_home = true;
            if( vm.referrer == 'Story' ) vm.from_story = true;

            axios.get( api_url )
                .then( response => { 
                    if( response.data.length > 0 ) {

                        if( vm.from_home !== true && vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                            $('.story__wrapper').removeClass('sibling');
                        }

                        vm.$store.dispatch( 'updatePage', response.data[0] );
                        vm.$store.dispatch( 'updateReferrer', 'Story' );

                        vm.story = vm.$store.state.page;

                        $(window).scrollTop(0);

                        axios.get( '/wp-json/sbs/v1/next_story?story_id=' + vm.story.id )
                            .then(response => { 
                                if( response.status == 200 ) {
                                    vm.next_story = response.data;
                                }
                            });

                        if( vm.story !== null ) {
                            var storyHeader = {
                                feature_image: vm.story.acf.feature_image,
                                feature_video: vm.story.acf.feature_video,
                                link: vm.story.acf.link,
                                subtitle: vm.story.acf.subtitle,
                                title: vm.story.acf.title
                            };

                            vm.$store.dispatch('updateStoryHeader', {
                                content: storyHeader
                            } );
                        }

                        if( vm.from_home === true ) {
                            Animations.storyIn( delay, 'Home' );
                        } else {
                            
                            if( vm.from_story === true ) {
                                Animations.storyIn( delay, 'Story' );
                            } else {
                                Animations.storyIn( delay );
                            }

                            if( vm.$store !== undefined && vm.$store.state.show_intro === false ) {
                                setTimeout( function(){
                                    Animations.loadingScreenOut();
                                }, 500 );
                            }
                        }
                        
                    } else {
                        return vm.$router.replace('/404');
                    }
                })
                .catch( error => {
                    console.log('error ' + error)
                    return vm.$router.replace('/404');
                });

            $('body').addClass('page-story').removeClass('page-error404 page-about page-contact page-home page-portfolio');
        },
        data () {
            return {
                from_home: false,
                from_story: false,
                next_story: null,
                story: {
                    id: 0
                }
            }
        }
    }
</script>
