<template>
    <div class="photos-block photos-block__full" :class="{ 'photos-block--last' : last }" :id="'photos-block__full-'+id">
        <template v-if="last">
            <div>
                <div class="photos-block__full--container" :class="'gutter-spacing-'+ content.layout.side_spacing">
                    <div class="image">
                        <div class="image-container" :style="aspectRatio(content.image)">
                            <img :src="content.image.url"/>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="photos-block__full--container" :class="'gutter-spacing-'+ content.layout.side_spacing">
                    <div class="image">
                        <div class="image-container" :style="aspectRatio(content.image)">
                            <img :src="content.image.url"/>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div> 
</template>

<script>
    import ScrollMagic from 'ScrollMagic';
    import 'scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js';

    const controller = new ScrollMagic.Controller();

    export default {
        props: [ 'content', 'id', 'last' ],
        mounted() {
            let vm = this;
            vm.animate();
        },
        methods: {
            aspectRatio(image) {
                var aspectRatio = ((image.height / image.width) * 100).toFixed(2);
                return 'padding-bottom: ' + aspectRatio + '%';
            },
            animate() {
                let vm = this,
                    currentBlock = "#photos-block__full-"+vm.id;

                var tl = new TimelineMax()
                        .to(currentBlock + ' .image-container img', 4, {y: '-5%', scale: 1.05, ease:Linear.easeNone});

                var scene = new ScrollMagic.Scene({
                        triggerElement: currentBlock,
                        duration: '100%'
                    })
                    .setTween(tl)
                    .addTo(controller);
            }
        }
    }
</script>