<template>
    <div class="photos-block photos-block__juxta" :id="'photos-block__juxta-'+id">
        <div class="photos-block__juxta--container" :class="'alignment-'+ content.layout.alignment + ' spacing-'+ content.layout.spacing + ' gutter-spacing-'+ content.layout.side_spacing + ' balance-'+ content.layout.image_widths">
            <div class="image-left" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="image-container" :style="aspectRatio(content.image_left)">
                    <img :src="content.image_left.url"/>
                </div>
            </div>
            <div class="image-right" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="image-container" :style="aspectRatio(content.image_right)">
                    <img :src="content.image_right.url"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ScrollMagic from 'ScrollMagic';
    import 'scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js';

    const controller = new ScrollMagic.Controller();

    export default {
        props: ['content', 'id'],
        mounted() {
            let vm = this;
            vm.animate();
        },
        methods: {
            aspectRatio(image) {
                var aspectRatio = ((image.height / image.width) * 100).toFixed(2);
                return 'padding-bottom: ' + aspectRatio + '%';
            },
            animate() {
                let vm = this,
                    currentBlock = "#photos-block__juxta-"+vm.id;

                var tl = new TimelineMax()
                        .to(currentBlock + ' .image-container img', 4, {y: '-2.5%', scale: 1.05, ease:Linear.easeNone});
            
                var scene = new ScrollMagic.Scene({
                        triggerElement: currentBlock,
                        duration: '100%'
                    })
                    .setTween(tl)
                    .addTo(controller);
            }
        }
    }
</script>