<template>
    <div class="photos-block photos-block__slider" :id="'photos-block__slider-'+id">
        <div class="photos-block__slider--container swiper-container" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="swiper-wrapper">
                <div v-for="(image, ID) in content.gallery" :key="'image-'+ID" class="swiper-slide image">
                    <div class="image-wrapper">
                        <img :src="image.url" />
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</template>

<script>
    import ScrollMagic from 'ScrollMagic';
    import 'scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js';

    const controller = new ScrollMagic.Controller();

    export default {
        props: ['content', 'id'],
        mounted() {
            let vm = this;
            vm.slider();
        },
        methods: {
            slider() {
                let vm = this;

                var storyGallery = new Swiper('#photos-block__slider-'+vm.id+ ' .swiper-container', {
                    slidesPerView: 'auto',
                    centeredSlides: true,
                    a11y: true,
                    preloadImages: true,
                    spaceBetween: 65,
                    loop: true,
                    speed: 1000,
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                    },
                    keyboard: {
                        enabled: true,
                        onlyInViewport: false,
                    },
                    breakpoints: {
                        320: {
                            spaceBetween: 20,
                        },
                        740: {
                            spaceBetween: 20,
                        },
                        980: {
                            spaceBetween: 50,
                        },
                    }
                });

            }
        }
    }
</script>